<!DOCTYPE html>
<html lang="en-US">

   <head>
      <title>
         Team 7: CCPC: Final Project
      </title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="css/styles.css" rel="stylesheet" type="text/css" />
   </head>

   <body>
      <header>
         <nav class="navbar navbar-light bg-light flex-direction-column">
            <!-- Nav links -->
            <ul class="nav">
               <!-- Store brand and Name -->
               <a class="navbar-brand" href="#">
                  <img src="img/CSUMB_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                     Store Name
               </a>
         
               <!-- Page links -->
               <li class="nav-item">
                  <a class="nav-link" href="/potions">Potions</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/weapons">Weapons</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Armor</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Wands/Crystals</a>
               </li>
            </ul>

            <!-- Search field and button -->
            <form class="form-inline my-2 my-lg-0">
               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            
         </nav> <!-- Navbar End -->
      </header> <!-- Header End -->
      
      
      