<!DOCTYPE html>
<html lang="en-US">

   <head>
      <title>
         The Sourcerer's Source: Team 7 Final
      </title>
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- bootstrap library version 4.3.1 -->
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
         rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">
      <!-- CSS style sheet -->
      <link href="css/styles.css" rel="stylesheet" type="text/css" />
      <!-- icon library -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>

   <body>
      <header>
         <nav class="navbar navbar-light bg-light flex-direction-column">
            <!-- Nav links -->
            <ul class="nav">
               <!-- Store brand and Name -->
               <!-- Page links -->
               <li class="nav-item">
                  <a class="navbar-brand" href="/">
                     <img src="img/wizard_hat.png" width="30" height="30" 
                        class="d-inline-block align-top" alt="The Sourcerer's Source brand logo">
                        
                        The Sourcerer's Source
                  </a>
               </li>
               <li>
                  <a class="nav-link" href="/potions">Potions</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/weapons">Weapons</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Armor</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Wands/Crystals</a>
               </li>
               
               <!-- Search field and button -->
               <li>
               <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" 
                     placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" 
                     type="submit">Search</button>
               </form>
               </li>
               
               <!-- login section --> <!-- Change to a button -->
               <li class="nav-item">
                  <a class="nav-link" href="/login"> Log in </a>
               </li>
               
               <!-- shopping cart icon -->
               <li class="nav-item">
                  <a class="nav-link" href="/shoppingcart">
                     <img src="img/shoppingcart.png" width="30" height="30" 
                        class="d-inline-block align-top" alt="shopping cart">
                  </a>
               </li>
            </ul> <!-- end nav links -->

            
            
         </nav> <!-- Navbar end -->
      </header> <!-- Header end -->
      
      
      