<header>
   <!-- Nav Bar -->
   <nav class="navbar navbar-light flex-direction-column" style="background-color: #aaa">
      <!-- Nav Links -->
      <ul class="nav">
         <!-- store brand and name -->
         <li class="nav-item">
            <a class="navbar-brand" href="/">
               <img src="/img/wizard_hat.png" width="30" height="30" 
                  class="d-inline-block align-top" alt="The Sourcerer's Source brand logo">
                  
                  The Sourcerer's Source
            </a>
         </li>
         <!-- potions page link -->
         <li class="nav-item">
            <a class="nav-link" href="/potions">Potions</a>
         </li>
         <!-- weapons page link -->
         <li class="nav-item">
            <a class="nav-link" href="/weapons">Weapons</a>
         </li>
         <!-- armor page link -->
         <li class="nav-item">
            <a class="nav-link" href="/armor">Armor</a>
         </li>
         <!-- crystals  page link -->
         <li class="nav-item">
            <a class="nav-link" href="/crystals">Crystals</a>
         </li>
         
         <!--search field and button -->
         <li>
            <form action="/search" class="form-inline my-2 my-lg-0">
               
               <div class="btn-group" id="search" role="group" 
                  aria-label="Button group with nested search icon and search text bar">
                  
                  <button class="btn my-2 my-sm-0" id="search-btn"
                     type="submit"><i><img src="/img/search.png" width="30" height="30" 
                           class="d-inline-block align-top" alt="search icon"></i></button>
                  
                  <input class="form-control mr-sm-2" id="search-type-text-box" type="search" 
                     placeholder="Search Product Types" name="type">
                  
                  <input class="form-control mr-sm-2" id="search-type-text-box" type="search" 
                     placeholder="Search Product Names" name="name">
                     
                     <input class="form-control mr-sm-2" id="search-type-text-box" type="search" 
                     placeholder="Search Product Descriptions" name="desc">
               
               </div>
               
            </form>
         </li>
         
         
         <form action="/login">
            <button>
               Log In
            </button>
         </form>
         <form action="/myAccount">
            <button>
               My Account
            </button>
         </form>
         <form action="/logout">
            <button>
               Log Out
            </button>
         </form>
         
         <!-- shopping cart icon -->
         <li class="nav-item">
            <a class="nav-link" href="/shoppingcart">
               <img src="/img/shoppingcart.png" width="30" height="30" 
                  class="d-inline-block align-top" alt="shopping cart">
            </a>
         </li>
      </ul> <!-- nav links end-->

      
      
   </nav> <!-- navbar end -->
</header> <!-- header end -->