   <%- include('partials/header.ejs') %>
   
   This is my account info... <br>
   This page must be password-protected
   
   <!-- add account info here in div-->
   <div></div>
   
   <%- include('partials/footer.ejs') %>
   </body>
</html>