   <%- include('partials/header.ejs') %>
   <%- include('partials/navbar.ejs') %>
   
   <!-- Front End Design for Crystals Page -->
   <p> DEV NOTE: Crystals needs to be implemented </p>
    
   <%- include('partials/footer.ejs') %>
   </body>
</html>