<%- include('partials/header.ejs') %>

      <!-- Sales grid container -->
      <div id="sales-grid-container">
            <div class="item"></div>
      </div> <!-- End of sales grid container -->
         
<%- include('partials/footer.ejs') %>