<%- include('partials/login&signup_header.ejs') %>
  
   <body>
        
      <!-- a container for login display -->
      <div>
         
         <!-- Brand logo -->
         <a class="form-logo" href="/">
            <img src="img/wizard_hat.png" width="60" height="60" 
               class="d-inline-block align-top" alt="The Sourcerer's Source brand logo">
         </a>
            
         <!-- an inner container for the form -->
         <div>
               
            <!-- login form -->
            <form action="/">
               <h1> Log in to your account </h1>
               <br />
               <!-- User name -->
               <div>
                  <img src="img/user.png" width="30" height="30" 
                     class="d-inline-block align-top" alt="person outline">
                  <input id="login-username" type="text" name="login-username"
                     placeholder="Enter a Username">
               </div>
               <!-- password -->
               <div>
                  <img src="img/lock.png" width="30" height="30" 
                     class="d-inline-block align-top" alt="lock outline">
                  <input id="login-password" type="password" name="login-password" 
                     placeholder="Enter a Password">
               </div>
               <br />
               <br />
               <!-- submit form -->
               <button type="submit"> Log In </button>
               <br>  
            </form> <!-- login form ends -->
            
            <!-- redirect to create a new account -->
            <p>
               New to The Sourcerer's Source? 
               <a href="/signup">Create an account.</a> 
            </p>
            
         </div> <!-- end inner container -->
      </div> <!-- end login display container -->
        
   </body>
</html>