<!-- Document includes its own header and footer 
to be different from sites navbar -->
<!DOCTYPE html>
<html lang="en-US">

   <head>
      <title>
         Team 7: CCPC: Final Project "The Sourcerer's Source"
      </title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
  
   <body>
        
      <!-- a container for login display -->
      <div>
            
         <!-- add the brand logo here -->
            
         <!-- an inner container for the form -->
         <div>
                
            <h1> Log in to your account </h1>
            <br />
            <form action="/login">
               <label for="username">Username </label> 
                  <input id="username" type="text" name="username"
                     placeholder="Enter a Username">
               <br />
               <label for="password">Password </label> 
                  <input id="password" type="password" name="password" 
                     placeholder="Enter a Password">
               <br />
               <br />
               <button type="submit"> Log In </button>
            </form> 
                
         </div> <!-- end inner container -->
      </div> <!-- end login display container -->
        
   </body>
</html>