<%- include('partials/header.ejs') %>

      <!-- Sales grid container -->
      <!--<div id="sales-grid-container">-->
      <!--      <div class="item"></div>-->
      <!--</div> <!-- End of sales grid container -->
      <br>
      <br>
      <br>
      <br>
      <body>
       
      <div class = "container">
          <h1>Alchemist's Shop</h1>
          <hr>
          
      
      <div class = "box blue-box">
          <img class ="potions" src='img/purple-bottle.jpg' width='200'>
           <h5>Purple potion</h5>
     <p>600 Denar</p>
     <a class="add-cart cart1"
     href="#">Add to Cart</a>
          </div>
         <div class = "box blue-box">
         <!--Created By ButterflyNature-->
          <img class ="potions" src='img/glowing-blue-bottle.jpg' width='210'>
           <h5>Blue Potion</h5>
     <p>200 Denar</p>
     <a class="add-cart cart1"
     href="#">Add to Cart</a>
          </div>
           <div class = "box blue-box">
          <!--Created by Dana Horne-->
         <img class ="potions" src='img/glowing-green-bottle.jpg' width='210'>
          <h5>Green Potion</h5>
     <p>30 Denar</p>
     <a class="add-cart cart1"
     href="#">Add to Cart</a>
         </div>
         <!--<Creator(s) are probably found here: https://samequizy.pl/co-bys-mogl-zrobic-ze-swoimi-pieniedzmi/-->
          <div class = "box blue-box" style="margin-top: 60px;">
          <!--Created by  Cyndi Booth-->
         <img class ="potions" src='img/silver-bottle.jpg' width='210'>
           <h5>Silver Potion</h5>
     <p>500 Denar</p>
     <a class="add-cart cart1"
     href="#">Add to Cart</a>
          </div>
           <div class = "box blue-box" style="margin-top: 60px;">
          <!--Created by pilotneko-->
          <img class ="potions" src='img/blue-gold-bottles.jpg' width='210'>
           <h5>Blue-Gold Potion</h5>
     <p>900 Denar</p>
     <a class="add-cart cart1"
     href="#">Add to Cart</a>
          </div>
          <!--<Creator(s) are probably found here: https://samequizy.pl/co-bys-mogl-zrobic-ze-swoimi-pieniedzmi/-->
           <div class = "box blue-box" style="margin-top: 60px;">
          <img class ="potions" src='img/green-bottle.jpg' width='210'>
           <h5>Green Potion</h5>
     <p>100 Denar</p>
     <a class="add-cart cart1"
     href="#">Add to Cart</a>
          </div>
          </div>
          
     

     <!--<h5>Yellow Flowers-->
     <!--5c</h5>-->
     <!--<a class="add-cart cart2" href="#">Add to Cart</a>-->
     <!-- </h5>-->
     
     <!-- <h5>Pink Flowers-->
     <!--5c</h5>-->
     <!--<a class="add-cart cart3" href="#">Add to Cart</a>-->
     
     <!--<h5>Blue Flowers-->
     <!--5c</h5>-->
     <!--<a class="add-cart cart4" href="#">Add to Cart</a>-->
          </body>
<%- include('partials/footer.ejs') %>

