<%- include('partials/header.ejs') %>

   <body>

      <!-- the shopping cart list of items. CSS will be applied to create
      a column of items. One per row -->
      <div id="shoppingcart">

         <!-- A single cart item, will be changed to be dynamically 
         created in JS. CSS will be applied to create decription and button 
         on the same row -->
         <div class="shopping-cart-item">

            <!-- item description -->
            <div class="shopping-cart-text">
               Shopping cart item description
            </div>

            <!-- more options need to be added here to increase/decrease 
            item count -->

            <!-- remove item button -->
            <div class="remove-from-cart">
               <button class="btn remove-cart-item-btn">
                  <i class="fa fa-trash"></i>
               </button>    
            </div>

         </div> <!-- end cart item -->

      </div> <!-- end shopping cart -->

   </body>

<%- include('partials/footer.ejs') %>