<!-- Document includes its own header and footer 
to be different from sites navbar -->
<!DOCTYPE html>
<html lang="en-US">

   <head>
      <title>
         Team 7: CCPC: Final Project "The Sourcerer's Source"
      </title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
 
   <body>
        
      <!-- a container for signup display -->
      <div>
            
         <!-- add the brand logo here -->
            
         <!-- an inner container for the form -->
         <div>
                
            <h1> Create your user account </h1>
            <br />
            <form action="/signup">
               <label for="firstname">First name </label>
                  <input type="text" name="firstName" 
                     placeholder="Enter First Name">
               <br />
               <label for="lastname">Last name </label>
                  <input type="text" name="lastName" 
                     placeholder="Enter Last Name">
               <br />
               <label for="email">Email </label>
                  <input type="text" name="email" 
                     placeholder="Enter Email Address">
               <br />
               <label for="username">Username </label> 
                  <input id="username" type="text" name="username"
                     placeholder="Enter a Username">
               <br />
               <label for="password">Password </label> 
                  <input id="password" type="password" name="password" 
                     placeholder="Enter a Password">
               <br />
               <label for="passwordAgain">Re-enter password </label> 
                  <input id="passwordAgain" type="password" name="passwordAgain" 
                     placeholder="Verify Password"/>
               <br />
               <br />
               <button type="submit"> Sign Up </button>
            </form> 
                
         </div> <!-- end inner container -->
      </div> <!-- end signup display container -->

   </body>
</html>