   <%- include('partials/header.ejs') %>
   <%- include('partials/navbar.ejs') %>
   
      <!-- A Container for the Signup Display -->
      <div class="user-forms">
            
         <!-- brand logo -->
         <a class="form-logo" href="/">
            <img src="img/wizard_hat.png" width="60" height="60" 
               class="d-inline-block align-top" alt="The Sourcerer's Source brand logo">
         </a>
            
         <!-- An Inner Container for the Form -->
         <div>
            
            <!-- Sign Up Form -->
            <form action="/">
               <h1> Create your user account </h1>
               <br />
               <!-- first name -->
               <img src="img/add_user.png" width="30" height="30" 
                     class="d-inline-block align-top" alt="lock outline">
               <input type="text" name="first-name" 
                     placeholder="Enter First Name">
               <br />
               <!-- last name -->
               <img src="img/add_user.png" width="30" height="30" 
                     class="d-inline-block align-top" alt="lock outline">
               <input type="text" name="last-name" 
                     placeholder="Enter Last Name">
               <br />
               <!-- email -->
               <img src="img/email.png" width="30" height="30" 
                     class="d-inline-block align-top" alt="lock outline">
               <input type="text" name="email" 
                     placeholder="Enter Email Address">
               <br />
               <!-- username -->
               <img src="img/add_user.png" width="30" height="30" 
                     class="d-inline-block align-top" alt="lock outline">
               <input id="signup-username" type="text" name="signup-username"
                     placeholder="Enter a Username">
               <br />
               <!-- password -->
               <img src="img/lock.png" width="30" height="30" 
                     class="d-inline-block align-top" alt="lock outline">
               <input id="signup-password" type="password" name="signup-password" 
                 class="user-forms"    placeholder="Enter a Password">
               <br />
               <!-- verify password -->
               <img src="img/lock.png" width="30" height="30" 
                     class="d-inline-block align-top" alt="lock outline">
               <input id="password-again" type="password" name="password-again" 
                     placeholder="Verify Password">
               <br />
               <br />
               <!-- submit form -->
               <button type="submit"> Sign Up </button>
            </form> <!-- sign up form ends -->
                
         </div> <!-- end inner container -->
      </div> <!-- end signup display container -->

   <%- include('partials/footer.ejs') %>
   </body>
</html>