   <%- include('partials/login&signup_header.ejs') %>
   
      <!-- A Container for the Signup Display -->
      <div>
            
         <!-- brand logo -->
         <a class="form-logo" href="/">
            <img src="img/wizard_hat.png" width="60" height="60" 
               class="d-inline-block align-top" alt="The Sourcerer's Source brand logo">
         </a>
            
         <!-- An Inner Container for the Form -->
         <div>
            
            <!-- Sign Up Form -->
            <form id="signupForm" method="post" action="/api/signup">
               <h1> Create your user account </h1>
               <br />
               <!-- first name -->
               <img src="img/add_user.png" width="30" height="30" 
                     class="d-inline-block align-top" alt="lock outline">
               <input type="text" name="username" 
                     placeholder="Enter Username">
                        <span id="usernameError"></span> <br />
               <br />
               
                 <% if (typeof usernameError != "undefined" && usernameError) { %>
               <h3 class="error"> This username is already taken. Please try again.
               </h3>
            <% }%>
               
                <br />
                <!--email -->
               <img src="img/email.png" width="30" height="30" 
                     class="d-inline-block align-top" alt="lock outline">
               <input type="text" name="email" 
                     placeholder="Enter Email Address">
                     <span id="emailError"></span> <br />
               <br />
                    <!-- wrong credentials error -->
            <% if (typeof emailError != "undefined" && emailError) { %>
               <h3 class="error"> This email is already taken. Please try again.
               </h3>
            <% }%>
           
                   <button type="submit" id="signup"> Sign Up </button>
         
           
                </form> <!-- sign up form ends -->
               <!-- last name -->
               <!--<img src="img/add_user.png" width="30" height="30" -->
               <!--      class="d-inline-block align-top" alt="lock outline">-->
               <!--<input type="text" name="last-name" -->
               <!--      placeholder="Enter Last Name">-->
            
               <!-- username -->
               <!--<img src="img/add_user.png" width="30" height="30" -->
               <!--      class="d-inline-block align-top" alt="lock outline">-->
               <!--<input id="signup-username" type="text" name="signup-username"-->
               <!--      placeholder="Enter a Username">-->
               <!--<br />-->
               <!-- password -->
               <!--<img src="img/lock.png" width="30" height="30" -->
               <!--      class="d-inline-block align-top" alt="lock outline">-->
               <!--<input id="signup-password" type="password" name="signup-password" -->
               <!--      placeholder="Enter a Password">-->
               <!--<br />-->
               <!-- verify password -->
               <!--<img src="img/lock.png" width="30" height="30" -->
               <!--      class="d-inline-block align-top" alt="lock outline">-->
               <!--<input id="password-again" type="password" name="password-again" -->
               <!--      placeholder="Verify Password"/>-->
               <!--<br />-->
               <!--<br />-->
               <!-- submit form -->
           
                 <script>
           var usernameAvailable = false;
       
        $("#signup").click(function(){
            //alert($("#username").val());
            
              $.ajax({
            method: "POST",
            url: "/api/signup",
              data: { "username":$("#username").val() },
         success: function(result,status) {
             
             if(result.available) {
                 $("#usernameError").html("Username is available!");
                 $("#usernameError").css("color", "green");
                 usernameAvailable = true;
             }
             else{
                 $("#usernameError").html("Username is unavailable!");
                 $("#usernameError").css("color", "red");
                 usernameAvailable = false;
              }
              
         }
         
              });//ajax
    });//username
     
         
               $.ajax({
            method: "POST",
            url: "/api/signup",
              data: { "email":$("#email").val() },
         success: function(result,status) {
         
           
             if(result.available) {
                 $("#emailError").html("Email is available!");
                 $("emailError").css("color", "green");
                 emailAvailable = true;
             }
             else{
                 $("# emailError").html("Email is unavailable!");
                 $("# emailError").css("color", "red");
                  emailAvailable = false;
              }
              
         }
         
            
        });//ajax
    });//email
     
       $("#signupForm").submit(function(event){
        
       // alert("Submitting form...");
        if (!isFormValid()){
          event.preventDefault();
        }
        
    });//sign up form
    
       function isFormValid(){
             var isValid = true;
              if (!usernameAvailable){
                  isValid = false;
              }
              
              if($("#username").val().length == 0){
                  isValid = false;
                  $("#usernameError").html("Username is required");
              }
              
                var isValid = true;
              if (!emailAvailable){
                  isValid = false;
              }
              
              if($("#email").val().length == 0){
                  isValid = false;
                  $("#emailError").html("Email is required");
              }
</script>
         </div> <!-- end inner container--> 
         
      </div> <!-- end signup display container 
   
    
   <%- include('partials/footer.ejs') %>
   </body>
</html>