<%- include("partials/header.ejs") %>
    
    <!-- Needs template implmentation finished -->
    
    <br />
    <br /> 
    
    <p> Thank you! your order has been purchased.</p>
    
    <a href="/">Continue Shopping?</a>
    
    </body>
</html>