<%- include('partials/header.ejs') %>

      <!-- Sales grid container -->
      <!--<div id="sales-grid-container">-->
      <!--      <div class="item"></div>-->
      <!--</div> <!-- End of sales grid container -->
      <br>
      <br>
      <br>
      <br>
      <body>
       
      <div class = "container">
          <h1>Blacksmith's Shop</h1>
          <hr>
          
    
      <div class = "box blue-box">
            <!--Created by FantasyStock-->
          <img class ="weapons" src='img/golden-rune-sword.jpg' width='200'>
           <h5>Golden Rune Sword</h5>
     <p>2000 Denar</p>
     <a class="add-cart cart1"
     href="#">Add to Cart</a>
          </div>
         <div class = "box blue-box">
         <!--Created By Make It Sharp-->
          <img class ="weapons" src='img/falchion-blades.jpg' width='210'>
           <h5>Falchion Blades</h5>
     <p>1000 Denar</p>
     <a class="add-cart cart1"
     href="#">Add to Cart</a>
          </div>
           <div class = "box blue-box">
           <!--Created by FantasyStock-->
         <img class ="weapons" src='img/robin-of-locksley-sword.jpg' width='210'>
          <h5> Robin of Locksley Sword</h5>
     <p>1500 Denar</p>
     <a class="add-cart cart1"
     href="#">Add to Cart</a>
         </div>
          <div class = "box blue-box" style="margin-top: -14%; margin-left: -8px;" >
          <!--Created by FantasyStock-->
         <img class ="weapons" src='img/blue-gem-dagger.jpg' width='210'>
           <h5>Blue Gem Dagger</h5>
     <p>300 Denar</p>
     <a class="add-cart cart1"
     href="#">Add to Cart</a>
          </div>
           <div class = "box blue-box" style="margin-top: -42%;">
          <!--Created by FantasyStock-->
          <img class ="potions" src='img/dragon-scale-dagger.jpg' width='210'>
           <h5>Dragon Scale Dagger</h5>
     <p>900 Denar</p>
     <a class="add-cart cart1"
     href="#">Add to Cart</a>
          </div>
          <!--<Created by Skyrim creators -->
           <div class = "box blue-box" style="margin-top: -42%;">
          <img class ="weapons" src='img/auriels-bow.jpg' width='210'>
           <h5>Auriel's Bow</h5>
     <p>1400 Denar</p>
     <a class="add-cart cart1"
     href="#">Add to Cart</a>
          </div>
           <!--<Created by Rittik-Designs -->
           <div class = "box blue-box" style="margin-top: -42%;">
          <img class ="weapons" src='img/twin-blades.jpg' width='210'>
           <h5>Gold and Cerulean Twin Blades </h5>
     <p>3000 Denar</p>
     <a class="add-cart cart1"
     href="#">Add to Cart</a>
          </div>
          </body>
<%- include('partials/footer.ejs') %>

